* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(35, 3, 150);
    padding: 10px
}

li {
    color: white;
    font-size: 34px;
    display: inline;
    padding: 20px;
}

body {
    background-color: #1b244b;
}

.box {
    background-color: rgb(110, 81, 216);
    margin: 10px 40px;
    display: flex;
    justify-content: center;
    gap: 40px;

    /* padding: 100px; */
}

.box1 {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: rgb(98, 213, 248);
    height: 450px;
    width: 800px;
    border: 2px solid black;
    overflow-wrap: break-word;
}

.box2 {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: rgb(98, 213, 248);
    height: 450px;
    width: 800px;
    border: 2px solid black;
    overflow-wrap: break-word;
}

.button {
    background-color: rgb(112, 120, 235);
    text-align: center;
    border: 6px solid black;
    border-radius: 80px;
    padding: 50px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.text {
    font-size: 60px;
}

.circle {
    position: fixed;
    bottom: 240px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50%;
    border: 5px solid white;
}

footer {
    background-color: white;
    width: 1920px;
    height: 200px;
}